# SPDX-FileCopyrightText: 2025-2026 Joe Pitt
#
# SPDX-License-Identifier: GPL-3.0-only

---
services:
  comfyui:
    device_cgroup_rules:
     - 'c 189:* rmw'
    devices:
      - /dev/dri:/dev/dri
    env_file:
      - path: ./comfyui.env
        required: false
    image: ghcr.io/joepitt91/comfyui:intel
    ports:
      - 127.0.0.1:8188:8188
    tmpfs:
      - /tmp/comfyui:mode=775,uid=65534,gid=65534
    tty: true
    volumes:
      - tls:/etc/ssl/private/:ro
      - content:/opt/content
      - user_db:/opt/ComfyUI/user
volumes:
  content: null
  tls: null
  user_db: null