# SPDX-FileCopyrightText: 2025-2026 Joe Pitt
#
# SPDX-License-Identifier: GPL-3.0-only

---
services:
  comfyui:
    build:
      context: https://github.com/joepitt91/comfyui-docker.git
      args:
        - COMFYUI_VERSION=0.3.31
      pull: true
      tags:
        - localhost/_/comfyui:cpu
        - localhost/_/comfyui:0.3.31-cpu
      target: cpu
    env_file:
      - path: ./comfyui.env
        required: false
    ports:
      - 127.0.0.1:8188:8188
    tmpfs:
      - /tmp/comfyui
    volumes:
      - tls:/etc/ssl/private/:ro
      - content:/opt/content
      - user_db:/opt/ComfyUI/user
volumes:
  content: null
  tls: null
  user_db: null