# SPDX-FileCopyrightText: 2025 Joe Pitt
#
# SPDX-License-Identifier: GPL-3.0-only

name: Build Images for Specific Version
on:
  workflow_dispatch:
    inputs:
      version: 
        description: The ComfyUI version to build (with preceding "v")
        required: true
        type: string
      tag_level:
        default: patch
        description: The highest level of tagging to apply.
        options:
          - major
          - minor
          - patch
        required: false
        type: choice
permissions:
  contents: read
  packages: write
jobs:
  dependencies:
    name: Get Dependency Information
    runs-on: ubuntu-latest
    outputs:
      python_digest: ${{ steps.digest.outputs.digest }}
      torch_version: ${{ steps.torch.outputs.version }}
      patch_tag: ${{ steps.image_tags.outputs.patch_tag}}
      minor_tag: ${{ steps.image_tags.outputs.minor_tag}}
      major_tag: ${{ steps.image_tags.outputs.major_tag}}
    steps:
      - name: Get Current Digest for Python 3.12 image
        id: digest
        uses: joepitt91/action-digest-from-dockerhub-image@v1
        with:
          dockerhub_username: ${{ secrets.DOCKER_USER }}
          dockerhub_token: ${{ secrets.DOCKER_PASSWORD }}
          repository: python
          tag: 3.12-slim

      - name: Convert Version to Tags
        id: image_tags
        uses: joepitt91/action-version-to-tags@v1
        with:
          version: ${{ inputs.version }}

      - name: Get Latest Torch from PyPI Module
        id: torch
        uses: joepitt91/action-version-from-pypi@v1
        with:
          module: torch

  build:
    name: Build Images
    runs-on: ubuntu-latest
    needs:
      - dependencies
    strategy:
      fail-fast: false
      matrix:
        target: [ cpu, intel, nvidia ]
    steps:
      - name: Free Up Disk Space
        uses: jlumbroso/free-disk-space@main

      - name: Image Information
        run: echo "Building image of ComfyUI ${{ inputs.version }} with torch v${{ needs.dependencies.outputs.torch_version }} for ${{ matrix.target }} architectures from python:3.12-slim with digest ${{ needs.dependencies.outputs.python_digest }}"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Image for ${{ matrix.target }} (patch)
        if: inputs.tag_level == 'patch'
        uses: docker/build-push-action@v6
        with:
          build-args: |
            COMFYUI_VERSION=${{ inputs.version }}
            TORCH_VERSION=${{ needs.dependencies.outputs.torch_version }}
          provenance: true
          pull: true
          push: true
          sbom: true
          tags: |
            ghcr.io/joepitt91/comfyui:${{ needs.dependencies.outputs.patch_tag }}-${{ matrix.target }}
          target: ${{ matrix.target }}

      - name: Build and Push Image for ${{ matrix.target }} (minor)
        if: inputs.tag_level == 'minor'
        uses: docker/build-push-action@v6
        with:
          build-args: |
            COMFYUI_VERSION=${{ inputs.version }}
            TORCH_VERSION=${{ needs.dependencies.outputs.torch_version }}
          provenance: true
          pull: true
          push: true
          sbom: true
          tags: |
            ghcr.io/joepitt91/comfyui:${{ needs.dependencies.outputs.patch_tag }}-${{ matrix.target }}
            ghcr.io/joepitt91/comfyui:${{ needs.dependencies.outputs.minor_tag }}-${{ matrix.target }}
          target: ${{ matrix.target }}

      - name: Build and Push Image for ${{ matrix.target }} (major)
        if: inputs.tag_level == 'major'
        uses: docker/build-push-action@v6
        with:
          build-args: |
            COMFYUI_VERSION=${{ inputs.version }}
            TORCH_VERSION=${{ needs.dependencies.outputs.torch_version }}
          provenance: true
          pull: true
          push: true
          sbom: true
          tags: |
            ghcr.io/joepitt91/comfyui:${{ needs.dependencies.outputs.patch_tag }}-${{ matrix.target }}
            ghcr.io/joepitt91/comfyui:${{ needs.dependencies.outputs.minor_tag }}-${{ matrix.target }}
            ghcr.io/joepitt91/comfyui:${{ needs.dependencies.outputs.major_tag }}-${{ matrix.target }}
          target: ${{ matrix.target }}
