# SPDX-FileCopyrightText: 2025-2026 Joe Pitt
#
# SPDX-License-Identifier: GPL-3.0-only

name: Build Latest Images
on:
  schedule:
    - cron: 35 * * * *
  workflow_dispatch:
permissions:
  contents: read
  packages: write
jobs:
  dependencies:
    name: Get Dependency Information
    runs-on: ubuntu-latest
    outputs:
      python_digest: ${{ steps.digest.outputs.digest }}
      comfyui_version: ${{ steps.comfyui.outputs.tag }}
      torch_version: ${{ steps.torch.outputs.version }}
      major_tag: ${{ steps.image_tags.outputs.major_tag}}
      minor_tag: ${{ steps.image_tags.outputs.minor_tag}}
      patch_tag: ${{ steps.image_tags.outputs.patch_tag}}
    steps:
      - name: Get Current Digest for Python 3.12 image
        id: digest
        uses: joepitt91/action-digest-from-dockerhub-image@v1
        with:
          dockerhub_username: ${{ secrets.DOCKER_USER }}
          dockerhub_token: ${{ secrets.DOCKER_PASSWORD }}
          repository: python
          tag: 3.12-slim

      - name: Get Latest ComfyUI Version
        id: comfyui
        uses: joepitt91/action-version-from-github-tag@v2
        with:
          token: ${{ secrets.PUBLIC_READ_TOKEN }}
          owner: comfyanonymous
          repository: ComfyUI

      - name: Convert Version to Tags
        id: image_tags
        uses: joepitt91/action-version-to-tags@v1
        with:
          version: ${{ steps.comfyui.outputs.version }}

      - name: Get Latest Torch from PyPI Module
        id: torch
        uses: joepitt91/action-version-from-pypi@v1
        with:
          module: torch

  build:
    name: Build Images
    if: needs.dependencies.outputs.comfyui_version != vars.COMFYUI_VERSION || needs.dependencies.outputs.python_digest != vars.BASE_IMAGE || needs.dependencies.outputs.torch_version != vars.TORCH_VERSION || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    needs:
      - dependencies
    strategy:
      fail-fast: false
      matrix:
        # NOTE: AMD must be built at runtime due to dependencies exceeding Docker's layer size limit
        target: [ cpu, intel, nvidia ]
    steps:
      - name: Free Up Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true

      - name: Image Information
        run: echo "Building image of ComfyUI ${{ needs.dependencies.outputs.comfyui_version }} with torch v${{ needs.dependencies.outputs.torch_version }} for ${{ matrix.target }} architectures from python:3.12-slim with digest ${{ needs.dependencies.outputs.python_digest }}"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Image for ${{ matrix.target }}
        uses: docker/build-push-action@v6
        with:
          build-args: |
            COMFYUI_VERSION=${{ needs.dependencies.outputs.comfyui_version }}
            TORCH_VERSION=${{ needs.dependencies.outputs.torch_version }}
          cache-from: type=registry,ref=ghcr.io/joepitt91/comfyui-dev:${{ matrix.target }}-buildcache
          cache-to: type=registry,ref=ghcr.io/joepitt91/comfyui-dev:${{ matrix.target }}-buildcache,mode=max
          provenance: true
          pull: true
          push: true
          sbom: true
          tags: |
            ghcr.io/joepitt91/comfyui:${{ matrix.target }}
            ghcr.io/joepitt91/comfyui:${{ needs.dependencies.outputs.major_tag }}-${{ matrix.target }}
            ghcr.io/joepitt91/comfyui:${{ needs.dependencies.outputs.minor_tag }}-${{ matrix.target }}
            ghcr.io/joepitt91/comfyui:${{ needs.dependencies.outputs.patch_tag }}-${{ matrix.target }}
          target: ${{ matrix.target }}

  save_versions:
    name: Save Versions
    needs: 
      - build
      - dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Update BASE_IMAGE
        uses: mmoyaferrer/set-github-variable@v1.0.0
        with:
          name: BASE_IMAGE
          repository: ${{ github.repository }}
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          value: ${{ needs.dependencies.outputs.python_digest }}

      - name: Update COMFYUI_VERSION
        uses: mmoyaferrer/set-github-variable@v1.0.0
        with:
          name: COMFYUI_VERSION
          repository: ${{ github.repository }}
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          value: ${{ needs.dependencies.outputs.comfyui_version }}

      - name: Update TORCH_VERSION
        uses: mmoyaferrer/set-github-variable@v1.0.0
        with:
          name: TORCH_VERSION
          repository: ${{ github.repository }}
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          value: ${{ needs.dependencies.outputs.torch_version }}
