# SPDX-FileCopyrightText: 2025-2026 Joe Pitt
#
# SPDX-License-Identifier: GPL-3.0-only

name: Build Development Images
on:
  push:
    branches-ignore: 
      - "main"
  workflow_dispatch:
permissions:
  contents: read
  packages: write
jobs:
  build:
    name: Build Images
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # NOTE: AMD must be built at runtime due to dependencies exceeding Docker's layer size limit
        target: [ cpu, intel, nvidia ]
        python: [ "3.12", "3.13", "3.14" ]
    steps:
      - name: Free Up Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true

      - name: Get Current Digest for Python ${{ matrix.python }} image
        id: digest
        uses: joepitt91/action-digest-from-dockerhub-image@v1
        with:
          dockerhub_username: ${{ secrets.DOCKER_USER }}
          dockerhub_token: ${{ secrets.DOCKER_PASSWORD }}
          repository: python
          tag: ${{ matrix.python }}-slim

      - name: Get Latest ComfyUI Version
        id: comfyui
        uses: joepitt91/action-version-from-github-tag@v2
        with:
          token: ${{ secrets.PUBLIC_READ_TOKEN }}
          owner: comfyanonymous
          repository: ComfyUI

      - name: Get Latest Torch from PyPI Module
        id: torch
        uses: joepitt91/action-version-from-pypi@v1
        with:
          module: torch

      - name: Image Information
        run: echo "Building image of ComfyUI ${{ steps.comfyui.outputs.version }} with torch v${{ steps.torch.outputs.version }} for ${{ matrix.target }} architectures from python:${{ matrix.python }}-slim with digest ${{ steps.digest.outputs.digest }}"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Image for ${{ matrix.target }}
        uses: docker/build-push-action@v6
        with:
          build-args: |
            COMFYUI_VERSION=${{ steps.comfyui.outputs.tag }}
            TORCH_VERSION=${{ steps.comfyui.outputs.version }}
            PYTHON_VERSION=${{ matrix.python }}
          provenance: true
          pull: true
          push: true
          sbom: true
          tags: |
            ghcr.io/joepitt91/comfyui-dev:${{ matrix.target }}-py${{ matrix.python }}_${{ github.event_name }}_${{ github.sha }}
          target: ${{ matrix.target }}
